.table {
    width: 100%;
    border-collapse: collapse;
  
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #665B3E;
    }
  
    th {
      background-color: #665B3E;
    }
  
    tr:hover {
      background-color: #665B3E;
    }
  }
  